<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Scholarship List</title>
	</head>
	<body>
		<h1>Scholarship List</h1>
		<div>
			<nobr>
				<a th:href="@{/scholarship/add}">Add Scholarship</a>
				<a th:href="@{/}">Back to Index</a>
			</nobr>
		</div>
		<br/><br/>
		<div>
			<table border="1">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Amount</th>
				</tr>
				<tr th:each="scholarship : ${scholarships}">
					<td th:utext="${scholarship.id}">...</td>
					<td th:utext="${scholarship.name}">...</td>
					<td th:utext="${scholarship.amount}">...</td>
				</tr>
			</table>
		</div>
		<br/><br/>
	</body>
</html>