<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Student List</title>
	</head>
	<body>
		<h1>Student List</h1>
		<div>
			<nobr>
				<a th:href="@{/student/add}">Add Student</a>
				<a th:href="@{/}">Back to Index</a>
			</nobr>
		</div>
		<br/><br/>
		<div>
			<table border="1">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>DOB</th>
					<th>Age</th>
					<th>Courses</th>
				</tr>
				<tr th:each="student : ${students}">
					<td th:utext="${student.id}">...</td>
					<td th:utext="${student.name}">...</td>
					<td th:utext="${student.email}">...</td>
					<td th:utext="${student.dob}">...</td>
					<td th:utext="${student.age}">...</td>
					<td>
						<table>

							<tr th:each="c : ${student.courses}">
								<td th:utext="${c.name}">...</td>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<br/><br/>
		<div>
			<table border="1">
				<tr>
					<th>Id</th>
					<th>Name</th>
				</tr>
				<tr th:each="course : ${courses}">
					<td th:utext="${course.id}">...</td>
					<td th:utext="${course.name}">...</td>
				</tr>
			</table>
		</div>
	</body>
</html>